@import "src/custom";
@import "bootstrap/scss/spinners";

.container-spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;

	&.full {
		z-index: 3000;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--#{$prefix}body-bg);

		&.submit {
			background-color: var(--#{$prefix}spinner-bg) !important;
		}
	}

	.spinner-border {
		--#{$prefix}spinner-width: 5rem !important;
		--#{$prefix}spinner-height: 5rem !important;
	}

}
