<div class="container-spinner" [class.full]="isFullPage" [class.submit]="isSubmit">
	<div class="spinner-border text-primary" role="status"></div>
	<div *ngIf="showMessage" class="fs-3 mt-3">
		<!--		<span *ngIf="!!message">{{ "label.loading.default" | translate }}</span>-->
		<span class="text-spinner">
			{{ message ? (message | translate) : ("label.loading.default" | translate) }}
			<label class="dot-first">.</label>
			<label class="dot-second">.</label>
			<label class="dot-third">.</label>
		</span>
	</div>
</div>
