@import "src/custom";
@import "bootstrap/scss/alert";

.container-error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;

	&.full {
		z-index: 3000;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--#{$prefix}body-bg);
	}

	.alert{
		min-width: 50vw;
	}
}
