<div class="row">
	<div class="col-12">
		<div class="card shadow">
			<div class="card-body">
				<h1 class="card-title">{{ "page.parameters.main" | translate }}</h1>
				<hr />
				<section class="card-collapse">
					<h2 class="card-subtitle">
						<button
							class="collapse-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#preferences"
							aria-expanded="true"
							aria-controls="preferences"
							[attr.aria-label]="'page.parameters.preference.toggle' | translate">
							<fa-icon [icon]="['fas', 'chevron-right']" aria-hidden="true"></fa-icon>
							{{ "page.parameters.preference.main" | translate }}
						</button>
					</h2>
					<div id="preferences" class="collapse show">
						<div class="row mt-3">
							<div class="col-12">
								<div class="d-flex flex-row align-self-stretch">
									<label class="align-self-center me-2">{{ "page.parameters.preference.language" | translate }}</label>
									<app-language></app-language>
								</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-12">
								<div class="d-flex flex-row align-self-stretch">
									<label class="align-self-center me-2">{{ "page.parameters.preference.theme" | translate }}</label>
									<app-theme></app-theme>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
