<div class="modal fade" [attr.id]="'confirm' + id" tabindex="-1" aria-labelledby="confirmTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="confirmTitle">{{ titleKeyLabel | translate }}</h1>
				<button
					[attr.id]="'btnConfirmClose' + id"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					[attr.aria-label]="'button.close' | translate"></button>
			</div>
			<div class="modal-body">
				<ng-content></ng-content>
			</div>
			<div class="modal-footer">
				<button type="button" btnOutlineLightOrDark class="btn" data-bs-dismiss="modal">{{ "button.cancel" | translate }}</button>
				<button type="button" class="btn btn-primary" (click)="onClickConfirm()">{{ confirmKeyLabel | translate }}</button>
			</div>
		</div>
	</div>
</div>
